<div>
    <br>
    <button class="btn btn-success" id="back"  (click)="callBack()">Back</button>
<h4>Processing Fees      : {{loanDetailObj.processingFees}}</h4><br>
<h4>Total Interes        : {{loanDetailObj.totalInterest}}</h4><br>
<h4>Sanction Date        : {{loanDetailObj.sanctionDate}}</h4><br>
<h4>Emi Id               : {{loanDetailObj.emidetails.emiId}}</h4><br>
<h4>Emi Amount Monthly   : {{loanDetailObj.emidetails.emiAmountMonthly}}</h4><br>
<h4>Next Emi Du Date     : {{loanDetailObj.emidetails.nextEmiDueDate}}</h4><br>
<h4>Previous Emi Status  : {{loanDetailObj.emidetails.previousEmiStatus}}</h4>
</div>