<div class="card">
    <div class="card-body">
        <h2 style="color:black"><b>Student Loan Details</b></h2>
        <h3 style="color:blue">Features</h3>
        <p>
            •	Repayment period of upto 15 years after Course Period + 12 months of repayment holiday<br>
            •	<b style="color:red">Processing Charges</b><br>
            •	Loans upto Rs. 20 lacs : NIL<br>
            •	Loans above Rs. 20 lacs: Rs. 10,000 (plus taxes)<br>
            •	<b style="color:crimson">Security</b><br>
            •	Upto Rs. 7.5 Lacs:Only Parent/ Guardian as co-borrower. No Collateral Security or third party guarantee<br>
            •  	Above Rs. 7.5 Lacs:Parent/ Guardian as co-borrower and tangible collateral security<br>
            •	<b style="color:crimson">Margin</b><br>
            •	Up to Rs 4 Lacs - Nil<br>
            •	Above Rs 4 Lacs - 5% for studies in India, 15% for studies in abroad<br>
            •	Repayment will commence one year after completion of course.<br>
            •	Loan to be repaid in 15 years after the commencement of repayment<br>
            •	In case second loan is availed for higher studies later, to repay the combined loan amount in 15 years after completion of second course<br>
            •	<b style="color:crimson">EMI Generation</b><br>
            •	The accrued interest during the moratorium period and course period is added to the principle and repayment is fixed in Equated Monthly Installments (EMI).<br>
            •	If full interest is serviced before the commencement of repayment; EMI is fixed based on principle amount only.<br>
        </p>

        <h3 style="color:blue">Eligibility</h3>
        <p>
            •	A term loan granted to Indian Nationals for pursuing higher education in India or abroad where admission has been secured.<br>
        </p>

    </div>
</div>