.form-group {
    font-family: Cambria, Arial, Helvetica, sans-serif;
    padding-right: 30%;
    padding-left:30%;
    text-align: center;
    padding-bottom: 2%;
    background-color:darkgrey;
    border-radius: 10px;
}